---
import App from '@/layouts/App.astro'
import PageHeader from '@/components/PageHeader.astro'
import { Button } from '@/components/ui/button'
---

<App>
  <PageHeader title="Dokumentation">
    <Fragment slot="actions">
      <Button>Action</Button>
      <Button variant="ghost">Secondary</Button>
    </Fragment>
  </PageHeader>
</App>
