---
import PageHeader from '@/components/PageHeader.astro'
import App from '@/layouts/App.astro'
import VueApp from './_app.vue'
---

<App>
  <PageHeader title="iTunes Price Watcher">
    <Fragment slot="actions"> </Fragment>
  </PageHeader>

  <div class="mt-8">
    <VueApp client:only />
  </div>
</App>
