TRAEFIK_DNS=toolio
BETTER_AUTH_SECRET=<secret>
DB_FILE_NAME=sqlite.db
NOTI_API_KEY=<api-key>

# Environment configuration
NODE_ENV=development

# Auto-migrations (set to "true" to disable automatic migrations in production)
# DISABLE_AUTO_MIGRATIONS=false

# Passkey authentication configuration
PASSKEY_RP_ID=localhost
PASSKEY_ORIGIN=http://localhost:4321