---
import Site from '@/layouts/Site.astro'
import SignInVue from '@/components/auth/sign-in.vue'
---

<Site>
  <div class="flex h-screen w-full items-center justify-center px-4">
    <SignInVue client:load />
  </div>
</Site>
